{% extends "layout.html" %}

{% block body %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Articles</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Article ID</th>
                <th>Author ID</th>
                <th>Title</th>
                <th>Created Date</th>
                <th>Click to See the Full Content</th>
                
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.paperId }}</td>
                <td>{{ article.authorId }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.dateTime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <a href="{{ url_for('article', article_id=article.paperId) }}" class="btn btn-dark">Full Content</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
