{% extends "layout.html" %}

{%block body %}
{% from "includes/formhelpers.html" import render_field %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="flash-message alert alert-{{ category }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
  <!-- Your other content goes here -->
</div>
<h3>Kayıt Olun</h3>
<hr>
<form method=post>
    <dl>
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      <button type="submit" class="btn btn-dark">Login</button>
      
    </dl>
    
  </form>


{%endblock body %}